H2 {
	font-size: 1.9em;
}

#content #leftcolumn DIV A {
	display: block;
	font-size: 11px;
	padding-left: 2px;
	position: relative;
}
	#content #leftcolumn DIV A SPAN {
		font-size: 9px;
		position: absolute;
		right: 0;
		top: 3px;
	}

#rightcolumn {
	padding-bottom: 50px;
}
	#rightcolumn PRE {
		background: #FFF;	
		font-size: 1.2em;
		line-height: 20px;
		padding: 20px 20px 0;
	}
	#rightcolumn HR {
		clear: both;
	}
	
	#rightcolumn ul li strong {
		display: inline-block;
		min-width: 50px;
	}
	
	#rightcolumn ul li ul li {
		padding-left: 60px;
	}

SECTION {
	padding: 30px 0 0;
}
SECTION + H1 {
	padding-top: 40px;
}

.method {
	cursor: pointer;
	margin: 0 0 5px;
}
	.method H2 {
		margin: 5px 0 10px;
	}
	.method P {
		margin: 0 0 5px;
	}
	.method HR {
		display: none;
	}
	.method > H2 SPAN {
		float: right;
		font-size: 12px;
	}
	.method > PRE, .method > OL, .method > UL, .method > H3, .method > H4, .method > H5, .method .tabcontent, .method .selected.tabcontent {
		display: none;
	}
.method + .method {
	border-top: 1px solid #DDD;
	margin: 20px 0 0;
}
.classic .method {
	cursor: default;
}
	.classic .method > H2 SPAN {
		float: right;
		font-size: 12px;
	}
	.classic .method > PRE, .classic .method > OL, .classic .method > UL, .classic .method > H3, .classic .method > H4, .classic .method > H5, .classic .method .tabcontent {
		display: block;
	}
	
.deprecated {
	font-size: 0.8em;
}
	.deprecated .method {
		opacity: 0.8;
	}
	.deprecated .method H2 {
		margin: 0 0 5px;
	}
	.deprecated .method:HOVER {
		opacity: 1;
	}
	.deprecated .method + .method {
		margin: 10px 0 0;
	}
	
/* Geshi */
.kw1 {
	color: #1b609a;
}
.kw2 {
	color: #9a6f1b;
}
.me1 {
	color: #666;
}
.kw3, .re0, .sc1 {
	color: #784e0c;
}
.br0 {
	color: #444;
}
.st0 {
	color: #489a1b;
}
.co1, .coMULTI {
	color: #888;
}
.nu0 {
	color: #70483d;
}