HTML, BODY	{
	margin: 0;
	padding: 0;
}

BODY	{
	background: #F7F9FA;
	font: 0.75em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

H1,
H2 {
	color: #C17878;
	font-size: 2em;
	line-height: 30px;
}

H2,
H3 {
	color: #78ba91;
	font-size: 1.7em;
}

H3 {
	font-size: 1.5em;
}

P {
	line-height: 17px;
}

A:LINK, A:VISITED {
    color: #6B7B95;
}

A:HOVER, A:ACTIVE {
    color: #E79D35;
}

UL	{
	list-style: none;
	margin: 0;
	padding: 0;
}

HEADER	{
	background: #FFF;
	border-bottom: 1px solid #CFCFCF;
	border-top: 6px solid #1B3549;
	height: 105px;

	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 0 5px #888;
	box-shadow: 0 2px 5px #CCC;
}
	HEADER DIV {
		margin: 0 auto;
		width: 960px;
	}
	HEADER H1	{
		background: url(graphics/mootools.png) no-repeat 0 50%;
		float: left;
		height: 46px;
		margin: 0 auto;
		padding: 25px 0;
		text-indent: -9999px;
		width: 200px;
	}
	HEADER UL {
		font: normal "CartoGothic Std";
		float: right;
		padding: 15px 0 0;
	}
		HEADER UL LI {
			display: inline-block;
			font-size: 13px;
			height: 28px;
			line-height: 28px;
			padding: 0 10px;
		}
		HEADER UL A {
			color: #366993;
			text-decoration: none;
		}
	HEADER .views {
		clear: right;
		padding: 37px 0 0 0;
	}
		HEADER .views LI {
			cursor: pointer;
			font-size: 11px;
			height: 25px;
			line-height: 25px;
		}
		HEADER .views LI.selected {
			font-weight: bold;
		}
		HEADER .views INPUT {
			width: 160px;
		}
#content {
	margin: 0 auto;
	padding: 0 0 50px;
	width: 960px;
}
	#content #leftcolumn {
		border-right: 1px solid #DDD;
		float: left;
		font-size: 1.1em;
		margin: 5px 24px 0 0;
		padding: 0 25px 10px 0;
		width: 150px;
	}
		#content #leftcolumn DIV + H4	{
			padding: 10px 0 0;
		}
		#content #leftcolumn LI	{
			padding: 5px 0;
			text-align: right;
		}
		#content #leftcolumn H4 {
			text-align: left;
			border-bottom: 1px solid #ddd;
			font-size: 1.2em;
			color: #313334;
			line-height: 20px;
			margin: 0 0 3px;
		}
		#content #leftcolumn A {
			display: block;
			padding: 2px 2px 2px 10px;
		}
	#content #rightcolumn	{
		float: left;
		margin: 25px 0 0;
		overflow: hidden;
		width: 760px;
	}
